body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.btn-link {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .btn-link:hover {
        background-color: #45a049;
    }


.menu {
    margin-bottom: 20px;
}

.menu {
    border: 2px solid white;
    background-color: black;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

    .menu a {
        margin-right: 10px;
        text-decoration: none;
        color: white;
        background-color: black;
        padding: 5px 10px;
        display: inline-block;
        border-right: 1px solid white;
    }

        .menu a:last-child {
            border-right: none;
        }

        .menu a:hover {
            background-color: grey;
        }

        .menu a.active {
            background-color: green;
        }
